@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');


body {
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Open sans', sans-serif;
    font-size: 64px;
    font-weight: 800;
    color: #CE9F95;
    /* text-transform: uppercase; */
}

/* nav bar */

.navbar {
    height: 75px;
    line-height: 75px;
    background-color: #71706E;
}

/* buttons  */

.btn-small {
    background-color: #CE9F95;
    color: #F1F1F1;
}

.btn-small:hover {
    background-color: #F8DCD1;
}

.btn-small:focus {
    background-color: #CE9F95;
    color: #F1F1F1;
}

/* flashes  */

.flashes {
    position: absolute;
    margin-top: 0px;
    width: 100%;
    background-color: #fff;
}

/* recipes - banner  */

.recipes-banner {
    background: url("../images/cocktail4.jpg") no-repeat top right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
}

.recipes-banner h1 {
    padding-top: 30px;
    text-shadow: 2px 2px 2px #F8DCD1;
}

@media screen and (max-width: 600px) {
    .recipes-banner h1 {
        font-size: 48px;
    }
}

/* recipes - side bar */

.spirit-list {
    color: #71706E;
    font-size: 20px;
}

/* login page */

.login-page {
    background: url("../images/cocktail3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 95vh;
}

.login-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.login-card {
    padding: 30px 60px;
    width: 80%;
}