@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive;
*/


body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Yeseva One', 'cursive';
    font-size: 64px;
    font-weight: 800;
    color: #EAEAEA;
    text-transform: uppercase;
}

h3 {
    font-family: 'Yeseva One', 'cursive';
    font-size: 42px;
    color: #231F20;
}

/* nav bar */

.navbar {
    height: 100px;
    line-height: 100px;
    background-color: #1f1a1b;
}

.navbar a {
    font-size: 18px;
}

.navbar li:hover {
    background-color: #AD974F;
}

.brand-logo img {
    height: 100px;
    padding: 5px 10px;
}

/* buttons  */

.btn-small,
.btn-small:focus {
    background-color: #231F20;
    color: #EAEAEA;
}

.btn-small:hover {
    background-color: #AD974F;
}

.ghost-btn,
.ghost-btn:focus {
    background-color: #EAEAEA;
    color: #231F20;
    transition: 0.5s;
}

.ghost-btn:hover {
    background-color: #231F20;
    color: #EAEAEA;
}

/* flashes  */

.flashes {
    position: absolute;
    margin-top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

/* recipe cards  */

.recipe-favourite {
    position: absolute;
    top: 0;
    right: 0;
    
}

.recipe-favourite i {
    font-size: 32px;
    margin: 5px;
    cursor: pointer;
}

.recipe-favourite .far {
    color: #EAEAEA;
}

.recipe-favourite .fas {
    color: #AD974F;
}

.cocktail-card-title {
    text-transform: capitalize;
}

.cocktail-card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}


/* home page  */

.carousel {
    height: 500px;
    max-width: 800px;
    margin: 60px auto;
}

.link-to-recipes p {
    background-color: #231F20;
    padding: 5px 0px;
    font-size: 24px;
}

.link-to-recipes p a {
    color: #EAEAEA;
    display: block;
}

.link-to-recipes p a:hover {
    color: #AD974F;
}


/* recipes - banner  */

.recipes-banner {
    background: url("../images/cocktail1.jpg") no-repeat top right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
}

.recipes-banner h1 {
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .recipes-banner h1 {
        font-size: 48px;
    }
}

/* recipes - side bar */

.spirit-list {
    color: #231F20;
    font-size: 20px;
}

.spirit-list:hover {
    cursor: pointer;
}

.fa-glass-martini {
    color: #AD974F;
    padding-left: 2px;
}

/* login page */

.login-page {
    background: url("../images/cocktail3a.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;
}

.login-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-card {
    padding: 30px 60px;
    width: 80%;
    background-color: #EAEAEA
}

.tabs .tab a{
    color:#231F20;
    background-color: #EAEAEA;
}

.tabs .tab a:hover, .tabs .tab a.active,
.tabs .tab a:focus, .tabs .tab a:focus.active,
.tabs .tab a:hover {
    color:#AD974F;
    background-color: #EAEAEA;
}

.tabs .indicator {
    background-color:#AD974F;
} 

/* My Cocktails  */

hr {
    border : 0;
    height: 3px; 
    background-image: linear-gradient(to right, rgba(173, 151, 79, 0), rgba(173, 151, 79, 0.75), rgba(173, 151, 79, 0));
    margin: 20px 0px;
}

/* Add Cocktail Form  */

.create-recipe-title {
    margin-top: 90px;
}

.fa-plus-circle,
.fa-minus-circle {
    font-size: 30px;
    cursor: pointer;
    text-shadow: 1px 1px 5px #666666;
}

.create-recipe-form {
    margin-top: 30px;
    padding: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.create-recipe-form .input-field .prefix.active {
    color: #231F20;
}
.create-recipe-form .input-field input[type=text]:focus + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #AD974F;
    
  }

  .create-recipe-form .input-field input[type=text]:focus,
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #AD974F;
    box-shadow: 0 1px 0 0 #AD974F;
  }

  .create-recipe-form .dropdown-content li>span {
      color: #231F20;
  }