@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive;
*/


body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Yeseva One', 'cursive';
    font-size: 64px;
    font-weight: 800;
    color: #EAEAEA;
    text-transform: uppercase;
}

h3 {
    font-family: 'Yeseva One', 'cursive';
    font-size: 42px;
    color: #231F20;
}

/* nav bar */

.navbar {
    height: 100px;
    line-height: 100px;
    background-color: #1f1a1b;
}

.navbar a {
    font-size: 18px;
}

.navbar li:hover {
    background-color: #AD974F;
}

.brand-logo img {
    height: 100px;
    padding: 5px 10px;
}

/* buttons  */

.btn-small,
.btn-small:focus {
    background-color: #231F20;
    color: #EAEAEA;
}

.btn-small:hover {
    background-color: #AD974F;
}

/* flashes  */

.flashes {
    position: absolute;
    margin-top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

/* recipes - banner  */

.recipes-banner {
    background: url("../images/cocktail1.jpg") no-repeat top right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
}

.recipes-banner h1 {
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .recipes-banner h1 {
        font-size: 48px;
    }
}

/* recipes - side bar */

.spirit-list {
    color: #231F20;
    font-size: 20px;
}

.spirit-list:hover {
    cursor: pointer;
}

.fa-glass-martini {
    color: #AD974F;
    padding-left: 2px;
}

/* login page */

.login-page {
    background: url("../images/cocktail3a.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;
}

.login-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-card {
    padding: 30px 60px;
    width: 80%;
    background-color: #EAEAEA
}

.tabs .tab a{
    color:#231F20;
    background-color: #EAEAEA;
}

.tabs .tab a:hover, .tabs .tab a.active,
.tabs .tab a:focus, .tabs .tab a:focus.active,
.tabs .tab a:hover {
    color:#AD974F;
    background-color: #EAEAEA;
}

.tabs .indicator {
    background-color:#AD974F;
} 

/* My Cocktails  */

hr {
    border : 0;
    height: 3px; 
    background-image: linear-gradient(to right, rgba(173, 151, 79, 0), rgba(173, 151, 79, 0.75), rgba(173, 151, 79, 0));
    margin: 20px 0px;
}

/* Add Cocktail Form  */

.fa-plus-circle {
    font-size: 45px;
}