{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="recipes-banner">
        <h1 class="col s12 center-align">Cocktail Recipes</h1>
    </div>

    <!-- side bar -->
    <section class="row">
        <div class="col s3">
            <div class="input-field">
                <input type="text" name="query" id="query" minlength="3" required>
                <label for="query">Search Cocktails</label>
                <button type="submit" class="waves-effect waves-light btn-small">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>

            {% for spirit in spirits %}

            <ul>
                <li class="spirit-list" id="{{ spirit.name|lower }}">
                    {{ spirit.name }}
                    <i class="hide fas fa-glass-martini"></i>
                </li>
            </ul>

            {% endfor %}

        </div>
        <div class="recipe-container col s9">
            <div class="row">

                {% for recipe in recipes %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">

                            {% if recipe.image_url %}
                            <img class="cocktail-card-img" src="{{ recipe.image_url }}"
                                alt="Picture of {{ recipe.cocktail_name }}">
                            <span class="recipe-favourite"><i class="far fa-heart"></i></span>

                            {% else %}
                            <img class="cocktail-card-img"
                                src="https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                alt="Picture of bar">
                            <span class="recipe-favourite"><i class="far fa-heart"></i></span>

                            {% endif %}
                        </div>
                        <div class="card-content">
                            <div class="card-title center-align cocktail-card-title"> {{ recipe.cocktail_name }}
                            </div>
                            <div class="center-align see-recipe-btn">
                                <button class="btn-small">
                                    <a href="{{ url_for('recipe', cocktail_id=recipe._id) }}">see recipe</a>
                                </button>
                            </div>
                            <div>Difficulty: <span class="difficulty-{{ recipe.difficulty }}"></span></div>
                            <div>Rating</div>
                            <div><small>Added by: <em>{{ recipe.created_by }}</em></small></div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

</main>




{% endblock %}