{% extends "base.html" %}
{% block content %}

<main class="container">
    <div class="center-align">
        <h3 class="create-recipe-title">Create a new recipe</h3>
    </div>

    <div class="card create-recipe-form">
        <form method="POST" action="{{ url_for('create_recipe') }}">
            <div class="row">
                <!-- Cocktail name  -->
                <div class="input-field col s12">
                    <i class="prefix fas fa-glass-martini-alt"></i>
                    <input id="cocktail_name" name="cocktail_name" type="text" maxlength="20" required>
                    <label for="cocktail_name">Cocktail Name</label>
                </div>
                <!-- difficulty -->
                <div class="input-field col s12 m6">
                    <i class="prefix fas fa-star"></i>
                    <select name="difficulty">
                        <option value="easy" selected>Easy</option>
                        <option value="medium">Medium</option>
                        <option value="difficult">Difficult</option>
                    </select>
                    <label>Difficulty</label>
                </div>
                <!-- category -->
                <div class="input-field col s12 m6">
                    <i class="prefix fas fa-glass-whiskey"></i>
                    <select name="category">
                        <option value="vodka" selected>Vodka</option>
                        <option value="gin">Gin</option>
                        <option value="whiskey">Whiskey</option>
                        <option value="rum">Rum</option>
                        <option value="tequila">Tequila</option>
                        <option value="other">Other</option>
                    </select>
                    <label>Category</label>
                </div>
                <!-- Add ingredients  -->
                <div class="input-field ingredients-list col s12">
                    <i class="prefix fas fa-wine-bottle"></i>
                    <input name="ingredients" type="text" required>
                    <label for="ingredients">Add Quantity/Ingredient</label>
                </div>
                <span class="btn-small edit-btn" id="add-ingredient">
                    <i class="fas fa-plus-circle"></i>
                    Add Ingredient
                </span>
                <span class="btn-small edit-btn hide" id="remove-ingredient">
                    <i class="fas fa-minus-circle"></i>
                    Remove line
                </span>

                <!-- method  -->
                <div class="input-field col s12">
                    <i class="prefix fas fa-glass-cheers"></i>
                    <textarea id="method" name="method" class="materialize-textarea" required></textarea>
                    <label for="method">Method</label>
                </div>
                <!-- Image URL  -->
                <div class="input-field col s12">
                    <i class="prefix fas fa-camera"></i>
                    <input id="image_url" name="image_url" type="text">
                    <label for="image_url">Image URL</label>
                </div>
                <!-- buttons -->
                <div class="center-align col s12">
                    <button type="submit" class="btn-small">
                        <i class="fab fa-telegram-plane"></i> add cocktail
                    </button>
                    <button type="reset" class="btn-small edit-btn">
                        <i class="fas fa-redo-alt"></i> reset
                    </button>
                </div>
            </div>
        </form>
    </div>

</main>



{% endblock %}