{% extends "base.html" %}
{% block content %}

<main class="container">
    <div class="center-align">
        <h3 class="create-recipe-title">Create a new recipe</h3>
    </div>

    <div class="card create-recipe-form">
        <form method="POST" action="{{ url_for('create_recipe') }}">
            <div class="row">
                <!-- Cocktail name  -->
                <div class="input-field col s12 m8">
                    <i class="prefix fas fa-glass-martini-alt"></i>
                    <input id="cocktail_name" name="cocktail_name" type="text" 
                    maxlength="20" required>
                    <label for="cocktail_name">Cocktail Name</label>
                </div>
                <!-- difficulty -->
                <div class="input-field col s12 m4">
                    <i class="prefix fas fa-star"></i>
                    <select name="difficulty">
                        <option value="easy" selected>Easy</option>
                        <option value="medium">Medium</option>
                        <option value="difficult">Difficult</option>
                    </select>
                    <label>Difficulty</label>
                </div>
                <!-- Add ingredients  -->
                <div class="input-field col s12">
                    <div class="row ingredients-list">
                        <div class="col s10 m8 input-field">
                            <i class="prefix fas fa-wine-bottle"></i>
                            <input name="ingredients" type="text" required>
                            <label for="ingredients">Add Quantity/Ingredient</label>
                        </div>
                        <div class="input-field col s2 m4 add-ingredient-buttons">
                            <i id="add-ingredient" class="fas fa-plus-circle"></i>
                        </div>
                    </div>
                </div>
                <!-- method  -->
                <div class="input-field col s12">
                    <i class="prefix fas fa-glass-cheers"></i>
                    <textarea id="method" name="method" class="materialize-textarea" required></textarea>
                    <label for="method">Method</label>
                </div>
                <!-- Image URL  -->
                <div class="input-field col s12">
                    <i class="prefix fas fa-camera"></i>
                    <input id="image_url" name="image_url" type="text">
                    <label for="image_url">Image URL</label>
                </div>
                <!-- buttons -->
                <div class="center-align col s12">
                    <button type="submit" class="btn-small">
                        Add Cocktail
                    </button>
                    <button type="reset" class="btn-small ghost-btn">
                        reset
                    </button>
                </div>
            </div>
        </form>
    </div>

</main>



{% endblock %}