{% extends "base.html" %}
{% block content %}

<main class="container">
    <h3>Welcome back, {{ session.user }} !</h3>

    <section class="users-recipes">
        <h3>{{ session.user }}'s Recipes</h3>
        <hr>
        <a href="{{ url_for('create_recipe') }}" class="btn-small"><i class="fas fa-plus"></i> Add Recipe</a>
        <!-- <div class="row"> -->
        <div class="row">
            {% for my_recipe in my_recipes %}
            {% if my_recipe.created_by == session.user %}
            <div class="col s6 l3">
                <div class="card">
                    <div class="card-image">

                        {% if my_recipe.image_url %}
                        <img class="cocktail-card-img" src="{{ my_recipe.image_url }}"
                            alt="Picture of {{ my_recipe.cocktail_name }}">

                        {% else %}
                        <img class="cocktail-card-img"
                            src="https://www.thespiritsbusiness.com/content/http://www.thespiritsbusiness.com/media/2014/07/Top-10-high-volume-cocktail-bars-350x350.jpg"
                            alt="Picture of bar">

                        {% endif %}
                    </div>
                    <div class="card-content">
                        <div class="card-title center-align cocktail-card-title">{{ my_recipe.cocktail_name }}
                        </div>
                        <div class="center-align">
                            <button class="btn-small see-recipe-btn">
                                <a href="{{ url_for('recipe', cocktail_id=my_recipe._id) }}">see recipe</a>
                            </button>
                        </div>
                        <div class="center-align">
                            <button class="btn-small edit-btn">edit</button>
                            <button class="btn-small delete-btn">delete</button>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor %}
        </div>

        <!-- </div> -->
    </section>

    <section class="users-favourites">
        <h3>{{ session.user }}'s Favourites</h3>
        <hr>

    </section>

</main>


{% endblock %}