{% extends "base.html" %}
{% block content %}

<main class="container">
    <h2 class="center-align">Welcome back, {{ session.user }}!</h2>

    <section class="users-recipes">
        <h3>My Recipes</h3>
        <hr>
        {% if my_recipes| length > 0 %}
        <a href="{{ url_for('create_recipe') }}" class="btn-small"><i class="fas fa-plus"></i> Add Recipe</a>
       
        <div class="row">

            {% for my_recipe in my_recipes %}
             <!-- My recipe cards  -->
            <div class="col s12 m6 l4 xl3 ">
                <a href="{{ url_for('recipe', cocktail_id=my_recipe._id) }}">
                    <div class="card hoverable">
                        <div class="card-image">

                            {% if my_recipe.image_url %}
                            <img class="cocktail-card-img" src="{{ my_recipe.image_url }}"
                                alt="Picture of {{ my_recipe.cocktail_name }}">
                            {% else %}
                            <img class="cocktail-card-img"
                                src="https://www.thespiritsbusiness.com/content/http://www.thespiritsbusiness.com/media/2014/07/Top-10-high-volume-cocktail-bars-350x350.jpg"
                                alt="Picture of bar">
                            {% endif %}

                        </div>
                        <div class="card-content">
                            <div class="card-title center-align cocktail-card-title">{{ my_recipe.cocktail_name }}
                            </div>
                            <div class="center-align">
                                <a class="btn-small edit-btn"
                                    href="{{ url_for('edit_recipe', cocktail_id=my_recipe._id) }}">edit / delete</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            
            {% else %}
            <!-- if user has no cocktails  -->
            <div class="center-align no-results">
                <h5>Add your own recipes here...</h5>
                <br>
                <a href="{{ url_for('create_recipe') }}" class="btn-small"><i class="fas fa-plus"></i> Add Recipe</a>
            </div>
            {% endif %}

        </div>
        <!-- Pagination  -->
        <div class="row">
            <div class="col s12 center-align">
                {{ pagination.links }}
            </div>
        </div>
    </section>
</main>

{% endblock %}