{% extends "base.html" %}
{% block content %}

<main class="container">
    <div class="row recipe-container">
        <div class="col s12 l6 center-align cocktail-img">
            <img src="{{ recipe.image_url }}" alt="image of {{ recipe.cocktail_name }}">
        </div>
        <div class="col s12 l6">
            <h3>{{ recipe.cocktail_name }}</h3>
            <hr>
            <div>
                Difficulty: <span class="difficulty-{{ recipe.difficulty }}"></span>
            </div>
            <div>Rating</div>
            <ul class="ingredients-list">
                {% for ingredient in recipe.ingredients %}

                <li><i class="fas fa-caret-right"></i> {{ ingredient }}</li>

                {% endfor %}
            </ul>
        </div>
        <div class="col s12">
            <p class="recipe-method">
                {{ recipe.method }}
            </p>
        </div>
    </div>



</main>





{% endblock %}