{% extends "base.html" %}
{% block content %}

<main class="container">
    <section class="row recipe-container">
        <div class="col s12">
            <a href="{{ url_for('cocktail_list') }}" class="btn-small">
                <i class="fas fa-hand-point-left"></i> back to recipes
            </a>
        </div>
        <div class="col s12 l6 center-align cocktail-img">

            {% if recipe.image_url %}
            <img src="{{ recipe.image_url }}" alt="image of {{ recipe.cocktail_name }}">

            {% else %}
            <img src="https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Picture of bar">

            {% endif %}

        </div>
        <div class="col s12 l6">
            <h3>{{ recipe.cocktail_name }}</h3>
            <hr>
            <div>
                Difficulty: <span class="difficulty-{{ recipe.difficulty }}"></span>
            </div>
            <div>Rating</div>
            <ul class="ingredients-list">
                {% for ingredient in recipe.ingredients %}

                <li><i class="fas fa-caret-right"></i> {{ ingredient }}</li>

                {% endfor %}
            </ul>
        </div>
        <div class="col s12">
            <p class="recipe-method">
                {{ recipe.method }}
            </p>
        </div>
    </section>

    <hr>
    <section class="row">
        <div class="col s12">
            <h3>Comments</h3>

            <button data-target="add-review-modal" class="btn-small modal-trigger">
                <i class="far fa-comments"></i> add comment
            </button>

            <!-- add review modal  -->
            <div id="add-review-modal" class="modal">
                <div class="modal-content center-align">
                    <h5>Add a review</h5>
                    <form method="POST" action="{{ url_for('recipe', cocktail_id=recipe._id) }}">
                        <div class="row">
                            <div class="input-field col s12">
                                <select name="rating">
                                  <option value="" disabled selected>Rating</option>
                                  <option value="1">
                                    1 star
                                </option>
                                <option value="2">
                                    2 stars
                                </option>
                                <option value="3">
                                    3 stars
                                </option>
                                <option value="4">
                                    4 stars
                                </option>
                                <option value="5">
                                    5 stars
                                </option>
                                </select>
                                <label class="sr-only">Rating</label>
                              </div>
                            <div class="input-field col s12">
                                <textarea id="comment" name="comment" class="materialize-textarea" required></textarea>
                                <label for="comment">Comments</label>
                            </div>
                        </div>
                        <div class="s12 center-align">
                            <button type="submit" class="btn-small">
                                <i class="fab fa-telegram-plane"></i> submit
                            </button>
                            <button type="reset" class="btn-small edit-btn">
                                <i class="fas fa-redo-alt"></i> reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>



</main>





{% endblock %}